---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import "../../styles/pagelist.css";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout title="blog - abnoumaru.com" description={SITE_DESCRIPTION}>
  <section class="post-list">
    <h2 class="section-title">📙 記事一覧</h2>
    
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              <p class="title">{post.data.title}</p>
              <p class="date">
                <FormattedDate date={post.data.pubDate} />
                {post.data.tags && (
                  <span class="post-tags">
                    {post.data.tags.map((tag: string) => (
                      <span class="post-tag">#{tag}</span>
                    ))}
                  </span>
                )}
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style>
  .post-tags {
    display: inline-flex;
    gap: 0.5rem;
    margin-left: 1rem;
  }
  
  .post-tag {
    font-size: 0.75rem;
    color: var(--accent-blue);
  }
</style>
