<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", page_data: data %>
  </head>
  <body class="<%= data.layout %>">
    <%= render "header", resource: resource %>

    <main>
      <%= yield %>
    </main>

    <%= render "footer" %>
  </body>
</html>
