<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", page_data: data %>
  </head>
  <body class="<%= data.layout %> <%= data.page_class %>">
    <%= render "header", metadata: site.metadata, resource: resource %>

    <main>
      <%= yield %>
    </main>

    <%= render "footer", metadata: site.metadata %>
  </body>
</html>
