---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import FormattedDate from '../../components/FormattedDate.astro';
import { createUniqueTagsList } from '../../scripts/tags';
import '../../styles/pagelist.css';

export async function getStaticPaths() {
    const uniqueTags = await createUniqueTagsList();

    return uniqueTags.map((tag) => {
        return {
            params: { tag },
        };
    });
}

const tag = Astro.params.tag;

const page_title = "#" + tag + " 記事一覧"

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---
<!doctype html>
<html lang="ja">
    <head>
        <BaseHead title={page_title} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <section>
                <p><span class="unique-tag">#{tag}</span> 記事一覧</p>
                <ul>
                        {
                            posts.filter(
                                (post) => post.data.tags.includes(tag)
                            ).map((post) => {
                                return (
                                    <li>
                                        <a href={`/blog/${post.slug}/`}>
                                            <p class="title">{post.data.title}</p>
                                            <p class="date">
                                                <FormattedDate date={post.data.pubDate} />
                                            </p>
                                        </a>
                                    </li>
                                );
                            })
                        }
                    </ul>
            </section>
        </main>
        <Footer />
    </body>
</html>
