---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { SITE_DESCRIPTION } from "../../consts";
import FormattedDate from "../../components/FormattedDate.astro";
import { createUniqueTagsList } from "../../scripts/tags";
import "../../styles/pagelist.css";

export async function getStaticPaths() {
  const uniqueTags = await createUniqueTagsList();

  return uniqueTags.map((tag) => {
    return {
      params: { tag },
    };
  });
}

const tag = Astro.params.tag;
const page_title = "#" + tag + " 記事一覧";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout title={page_title} description={SITE_DESCRIPTION}>
  <section class="post-list">
    <h2 class="section-title"><span class="unique-tag">#{tag}</span> 記事一覧</h2>
    <ul>
      {
        posts
          .filter((post) => post.data.tags.includes(tag))
          .map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>
                <p class="title">{post.data.title}</p>
                <p class="date">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </a>
            </li>
          ))
      }
    </ul>
  </section>
</BaseLayout>
