---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const interests = ["🏃‍♂️ Ops", "🦎 SRE", "🔭 O11y"];

const careers = [
  [
    "2024/10",
    "Present",
    "Software Engineer (Platform Circle / Architecture Project)",
    "IVRy Inc. ",
    "https://ivry.jp/company/",
  ],
  [
    "2020/05",
    "2024/09",
    "IT Infrastructure Engineer (Sreake Business Department)",
    "3-shake Inc.",
    "https://3-shake.com/",
  ],
  [
    "2016/04",
    "2020/04",
    "Operations Engineer (Operations Group -> Engineering Group)",
    "HEARTBEATS Corporation",
    "https://heartbeats.jp/",
  ],
  [
    "2012/10",
    "2016/03",
    "Part-time Operations Engineer (Operations Group)",
    "HEARTBEATS Corporation",
    "https://heartbeats.jp/",
  ],
];

const educations = [
  [
    "2012/04",
    "2016/03",
    "Bachelor of Engineering",
    "The University of Electro-Communications",
    "https://www.uec.ac.jp/",
  ],
];

const hobbies = ["📻", "🌸", "☔", "🍜"];
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1>id:abnoumaru</h1>
  
  <p class="bio">
    That chaotic daily life, more beautiful than anything. <br />
    Like factory lights shining in the dead of night.
  </p>
  <p class="lyric-source">— from "snow irony" by Maison book girl</p>
  
  <h2>Interests</h2>
  <p>
    {
      interests.map((interest, index) => (
        <span>
          {interest}
          {index < interests.length - 1 && " / "}
        </span>
      ))
    }
  </p>
  
  <h2>Career</h2>
  {
    careers.map((career) => (
      <div class={`career-item ${career[2]}`}>
        <div class="period">{career[0]} - {career[1]}</div>
        <div class="position">{career[2]}</div>
        <div class="company">@ <a href="{career[4]}" target="_blank">{career[3]}</a></div>
      </div>
    ))
  }

  <h2>Education</h2>
  {
    educations.map((education) => (
      <div class={`education-item ${education[2]}`}>
        <div class="period">{education[0]} - {education[1]}</div>
        <div class="degree">{education[2]}</div>
        <div class="school">@ <a href="{education[4]}" target="_blank">{education[3]}</a></div>
      </div>
    ))
  }

  <h2>Hobbies</h2>
  <p>
    {
      hobbies.map((hobby, index) => (
        <span>
          {hobby}
          {index < hobbies.length - 1 && " / "}
        </span>
      ))
    }
  </p>
  
  <h2>Contact</h2>
  <p>me [at] abnoumaru [dot] com</p>
</BaseLayout>

<style>
  .bio {
    font-style: italic;
    color: #555;
    margin: 1.5rem 0 0 0; /* Adjusted margin */
    text-align: left;
  }
  .lyric-source {
    font-size: 0.8rem;
    color: #888;
    text-align: left;
    margin-top: 0.5rem; /* Adjusted margin */
    margin-bottom: 2.5rem;
  }
</style>
