---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const recentPosts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 5);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <p>abnoumaru's website.</p>

  <h2>recent</h2>
  <ul class="recent-posts">
    {
      recentPosts.map((post) => (
        <li>
          <span class="post-date">
            <FormattedDate date={post.data.pubDate} />
          </span>
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  .recent-posts {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .recent-posts li {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.75rem;
    padding: 0;
  }

  .post-date {
    color: #111;
    font-size: 1rem;
    width: 115px;
    flex-shrink: 0;
  }

  .recent-posts a {
    font-size: 1rem;
    text-decoration: underline;
    color: #111;
  }

  .recent-posts a:hover {
    text-decoration: underline;
    color: #111;
  }
</style>
